.td-lesson {
    display: flex;
    flex-direction: column;
    padding: 4px 5px 4px 5px;
    z-index: 20;

    font-size: 12px;
    font-weight: bold;
    border: 1px solid #222426;
    border-left-width: 4px;
    border-radius: 2px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);

    transition: 0.5s;
}

.audience-num {
    font-size: 10px;
}

.lesson-red:hover {
    background-color: rgba(232, 29, 9, 0.2);
}
.lesson-red {
    background-color: rgba(232, 29, 9, 0.07);
    color: #e04545;
    border-color: #fc2424;
}

.audience-num-red {
    font-weight: normal;
    color: #d03d3d;
    margin: 1px 0 1px 0;
}

.group-num-red {
    color: #d73a3a;
}

.lesson-blue:hover {
    background-color: rgba(29, 57, 196, 0.2);
}

.lesson-blue {
    background-color: rgba(29, 57, 196, 0.07);
    color: #5f78f5;
    border-color: #1d39c4;
}

.audience-num-blue {
    font-weight: normal;
    color: #4a62da;
    margin: 1px 0 1px 0;
}

.group-num-blue {
    color: #5169dc;
}

.lesson-cian:hover {
    background-color: rgba(29, 132, 196, 0.2);
}

.lesson-cian {
    background-color: rgba(29, 132, 196, 0.07);
    color: #3da2e0;
    border-color: #3da2e0;
}

.audience-num-cian {
    font-weight: normal;
    color: #3595d0;
    margin: 1px 0 1px 0;
}

.group-num-cian {
    color: #3793cc;
}

.lesson-green:hover {
    background-color: rgba(29, 196, 32, 0.2);
}

.lesson-green {
    background-color: rgba(29, 196, 32, 0.07);
    color: #7ede47;
    border-color: #7ede47;
}

.audience-num-green {
    font-weight: normal;
    color: #71d339;
    margin: 1px 0 1px 0;
}

.group-num-green {
    color: #68c533;
}

.lesson-orange {
    background-color: rgba(196, 157, 29, 0.07);
    color: #e0b547;
    border-color: #e0b547;
}

.lesson-orange:hover {
    background-color: rgba(196, 157, 29, 0.2);
}

.audience-num-orange {
    font-weight: normal;
    color: #d7ab3b;
    margin: 1px 0 1px 0;
}

.group-num-orange {
    color: #daaf3f;
}

.lesson-purple:hover {
    background-color: rgba(115, 29, 196, 0.2);
}

.lesson-purple {
    background-color: rgba(115, 29, 196, 0.07);
    color: #9e4df1;
    border-color: #9647e0;
}

.audience-num-purple {
    font-weight: normal;
    color: #8c3ed5;
    margin: 1px 0 1px 0;
}

.group-num-purple {
    color: #883dce;
}
