.accordion-button {
    background-color: #2c2e31;
    color: #ababab;

}
.accordion-button:not(.collapsed) {
    background-color: #333538;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.accordion-item {
    border: 1px solid #464646;
}
.accordion-body {
    background-color: #222426;
}
.accordion {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.accordion-cards-container {
    border-radius: 6px;
    overflow-y: auto;
    max-height : 200px;
}
.card {
    border-radius: 0;
    border-color: #464646;
}

.card-body-admin {
    background-color: #333538;
}
.form-control:disabled {
    background-color: #f3f3f3;
    color: black;
}
