.active-link-profile:after, .non-active-link-profile:after {
    content: "";
    display: block;
    margin-top: 12px;
}

.active-link-profile {
    color: #0d6efd;
}

.active-link-profile:after {
    outline: 1px solid #0d6efd
}

.active-link-profile:hover:after {
    outline: 1px solid teal
}

.active-link-profile:hover{
    color: teal;
}

.non-active-link-profile {
    color: white;
}

.non-active-link:hover{
    color: gray;
}

.user-profile-avatar {
    border-radius: 50%;
    outline: 2px solid teal;
    width: 200px;
    height: 200px;
    margin-left: auto;
    box-shadow: 0 0 18px rgba(0,0,0,0.9);
}

.user-profile-avatar:after {
    content: "Новьё!"; /* Добавляемый текст */ 
    color: #333; /* Цвет текста */ 
    background-color: #fc0; /* Цвет фона */ 
    font-size: 90%; /* Размер шрифта */ 
    padding: 2px; 
    z-index: 100;
}