.active-link-profile:after, .non-active-link-profile:after {
    content: "";
    display: block;
    margin-top: 12px;
}

.active-link-profile {
    color: #0d6efd;
}

.active-link-profile:after {
    outline: 1px solid #0d6efd
}

.active-link-profile:hover:after {
    outline: 1px solid teal
}

.active-link-profile:hover{
    color: teal;
}

.non-active-link-profile {
    color: white;
}

.non-active-link:hover{
    color: gray;
}
