
.footer {
    background-color: #18191c;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100%;
    padding: 8px;
}

.footer > span {
    color: gray;
    font-size: 14px;
}