.container {
    background-color: #222426;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: white;
}

.td-container:hover {
    background-color: #2e2f33;
    cursor: pointer;
    transition: 0.5s;
}



