.td-red-lesson {
    display: flex;
    flex-direction: column;
    padding: 4px 5px 4px 5px;

    background-color: rgba(207,19,34, 0.2);
    font-size: 12px;
    font-weight: bold;
    color: #bb0101;
    border: 1px solid #fc2424;
    border-radius: 2px;
}

.audience-num {
    font-weight: normal;
    color: #bb0101;
    margin: 1px 0 1px 0;
}

.group-num {
    color: #d00d0d;
}


