body {
    background-color: #202225;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    background-color: #1e1e21;
}

::-webkit-scrollbar-thumb {
    background-color: #929292;
}